/* FONTES

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

body{
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#mainLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#footerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-weight: 500;
}

#formLogin{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.inputBox{
    position: relative;
}

.inputs{
    padding: 20px 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
    font-size: 100%;
    outline: none;
    font-weight: normal;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    width: 50vw;
    min-width: 200px;
    max-width: 300px;

}

.labelInput{
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transition: 0.1s;
    opacity: 0.65;
}

.inputs:focus ~ .labelInput,
.inputs:valid ~ .labelInput{
    top: 3px;
    font-size: 12px;
}

.buttons{
    padding: 10px;
    cursor: pointer;
    border: none;
    background: rgb(0, 136, 255);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    position: relative;
}

.buttons:hover {
    background: rgb(0, 115, 216);
}

.buttons:hover .tooltip{
  visibility: visible;
  opacity: 1;
  transition-delay: .5s;
}

.criarTurma{
    background-color: #4CAF50;
}

.criarTurma:hover{
    background-color: #45a049;
}

.buttons .tooltip {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .buttons:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#mainHeader{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav a{
    color: black;
}

#mainMenu{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mainHome{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    overflow: auto;
}

#mainHome::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

#mainHome::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

#mainHome::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

#mainHome::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

/*-------------
NAVIGATION STYLES
-------------*/

.openNavMenuButton{
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
}

.openNavMenuButton:hover{
    color: rgb(80, 80, 80);
    cursor: pointer;
}

#titleNavMenu{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#titleNavMenu #buttonCloseNav{
    position: absolute;
    left: 10px;
    top: 10px;
}

.fotoPerfilParticipante{
    color: black;
    margin-right: 10px;
}

.profileImageParticipante{
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    object-fit: cover; /* Ajustar a imagem para preencher o espaço */
    border-radius: 50%; /* Deixar a imagem redonda */
    border: 1px solid black;
    color: black;
}

.profileImage{
    position: absolute;
    right: 10px;
    top: 5px;
    color: black;
}

.profileImageHeader{
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    object-fit: cover; /* Ajustar a imagem para preencher o espaço */
    border-radius: 50%; /* Deixar a imagem redonda */
    margin-bottom: 10px; /* Espaçamento abaixo da foto */
    border: 1px solid black;
    color: black;
}

.profileImageHeader:hover{
    color: rgb(80, 80, 80);
}

.backNavMunu{
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.navMunu{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 0 30px 30px 0;
    z-index: 2;
}

#navLayout{
    position: relative;
    bottom: 0;
    height: 100vh;
}

#mainNavItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-width: 200px;
}

#mainNavItem a{
    padding: 10px 0;
}

#logoutNavItem{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutNavItem a{
    font-size: 20px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutNavItem ion-icon{
    font-size: 25px;
}

/*------------
    PROFILE
------------*/

#perfilContainer{
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: .5px solid rgb(200, 200, 200);
}

.containerPerfil{
    height: 80vh;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 95vw;
    margin-bottom: 20px;

}

.containerPerfil::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.containerPerfil::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.containerPerfil::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.containerPerfil::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

#perfilName{
    background-color: rgb(170, 170, 170);
    border-radius: 10px 10px 0 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.perfilElements{
    background-color: rgba(150, 150, 150);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
    margin: 10px;
    color: black;
}

.perfilElements h3{
    padding: 20px;
}

.perfilInfoBanco{
    padding: 20px 10px;
    background-color: rgba(230, 230, 230);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    width: 20vw;
    max-width: 300px;
}


.posts{
    background-color: rgb(197, 201, 204);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    padding: 10px 30px 30px;
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.posts h1{
    font-size:calc(12px + 2vw);
    padding: 10px 20px 20px;
}


.containerEditarPerfil{
    height: 40vh;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerEditarPerfil::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.containerEditarPerfil::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.containerEditarPerfil::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.containerEditarPerfil::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

/*------------------------
    CADASTRAR TURMA
------------------------*/
.backPopUp{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0 ;
    z-index: 1;
}

.containerPopUp{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp{
    padding: 20px;
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 50;
    left: 50;
}

.popUp h1{
    color: rgb(0, 0, 0);
}

.checkmarkPopUp{
    color: rgb(0, 160, 0);
    font-size: 100px;
    margin-bottom: 30px;
}

.buttonsPopUp{
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    margin-top: 40px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.buttonsPopUp:hover{
    cursor: pointer;
    background-color: #45a049;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);

}


#mainTurma{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;

}



#mainPerfil{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;
}

.containerListaTurma{
    height: 80vh;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.containerListaTurma::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.containerListaTurma::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.containerListaTurma::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.containerListaTurma::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

.listaTurmas{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.listaTurmas:hover{
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}

.listaTurmas p{
    color: rgb(80, 80, 80);
}

.containerInfoTurma{
    width: 50vw;
    max-width: 300px;
    min-width: 100px;
    height: 100%;
}

.containerInfoTurma h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none; 
    color: black; 
}

.containerInfoParticipante{
    width: 50vw;
    max-width: 300px;
    min-width: 100px;
    height: 100%;
}

.containerInfoParticipante h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none; 
    color: black; 
}

.buttonEntrarTurma{
    background-color: rgba(200, 200, 200, 0);
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.containerAcoesTurma{
    display: flex;
    gap: 10px;
}

.acoesTurma{
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    position: relative;
}

.acoesTurma:hover{
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.acoesTurma .tooltip {
    visibility: hidden;
    width: 60px;
    background-color: rgba(30, 30, 30, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .acoesTurma:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: .5s;
}


#footerTurma{
    display: flex;
    justify-content: center;
}

.FormularioNovaTurma{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 201, 204);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.FormularioEditarFotoPerfil{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 201, 204);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    min-width: 300px;
    width: 40vw;
    max-width: 500px;
}

.FormularioNovaTurma .formNovaTurma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormularioNovaTurma h1{
    padding: 10px;
}

.FormularioNovaTurma form{
    padding: 10px 10px 30px;
}

.FormularioNovaTurma .formNovaTurma .inputBox{
   margin: 10px;
}

.FormularioNovaTurma .formNovaTurma #buttonCriarTurma{
    padding: 10px;
}

.buttonsAcoesTurma{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}


button:hover{
    cursor: pointer;
}



.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    position: relative;
    margin-left: 10px;
  }

  .botao:hover {
    transform: translateY(-2px);
  }

  .botao:active {
    transform: translateY(0);
  }

  .botao ion-icon {
    font-size: 20px;
    transition: transform 0.2s;
  }

  .editar {
    background-color: #4CAF50;
  }

  .editar:hover {
    background-color: #45a049;
  }

  .editar:hover ion-icon {
    transform: rotate(-20deg);
  }

  .excluir {
    background-color: #e53935;
    color: white;
  }

  .excluir:hover {
    background-color: #d32f2f;
  }

  .excluir:hover ion-icon {
    transform: scale(1.2);
  }

  .tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .botao:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: .5s;
  }

  .linkAbrir{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
  }

.containerVisualizarParticipante{
    overflow: auto;
    max-height: 75vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.containerVisualizarParticipante::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.containerVisualizarParticipante::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.containerVisualizarParticipante::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.containerVisualizarParticipante::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

.bloqueiaDigitarInfoParticipante{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.containerAlterarParticipante{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    min-width: 300px;
}

.formAlterarPatenteParticipante{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.formAlterarPatenteParticipante select{
        min-width: 100%;
        padding: 10px;
        margin-top: 8px;
        font-size: 1em;
        border: 1px solid #ddd;
        border-radius: 4px;
        outline: none;
        appearance: none;
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 10px center;
        cursor: pointer;
    }
    
.formAlterarPatenteParticipante select:focus {
    border-color: #007bff;
}

.formAlterarPatenteParticipante label {
    font-size: 1em;
    color: #555;
    display: flex; flex-direction: column; justify-content:center; align-items: center;
}

.containerRemoverParticipante{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.formRemoverPatenteParticipante input{
    margin-right: 5px;
}

.formRemoverPatenteParticipante a{
    margin-left: 5px;
}


#mainNoticias{
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}



.inputBox textarea{
    min-width: 300px;
    max-width: 500px;
    width: 50vw;
    min-height: 150px;
    max-height: 150px;
}

#noticias{
    height: 80vh;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#noticias::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

#noticias::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

#noticias::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

#noticias::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

.containerNoticia{
    background-color: rgb(197, 201, 204);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    padding: 10px 30px 30px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 10px;
    width: 60vw;
    max-width: 600px;
    min-width: 280px;
    gap: 10px;
}

.containerNoticia h1{
    font-size:calc(12px + 2vw);
    padding: 10px 20px 20px;
}

.containerNoticia .imagemNoticia{
    width: 100%;
}

.containerNoticia .imagemNoticia img{
    max-height: 400px;
    max-width: 100%;
    background-size: cover
}

.backContainerNewPost{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

#botaoNovaNoticia{
    margin-bottom: 20px ;
}

.containerNewPost{
    position: absolute;
    background-color: rgba(200, 200, 200);
    color: rgb(0, 0, 0);
    padding: 10px 20px 20px; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    z-index: 3;
}


.containerCloseNews{
    position: relative;
    padding-top: 40px;
}

.btnCloseNews{
    position: absolute;
    right: 0;
    top: 0;
}

.btnCloseNews:hover{
    cursor: pointer;
    color: rgb(70, 70, 70);
}

.formNewPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.formNewPost .inputBox input{
    min-width: 300px;
    max-width: 500px;
    width: 50vw;
}

.userInfo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-options {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 10;
    
}

.menu-item {
    padding: 10px 15px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
}

.menu-item:hover {
    background-color: #f0f0f0;
}


/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

/* Modal content */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90vh;
}

/* Close button */
.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Animation for the modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*------------------
CHAMADA
------------------*/
#mainChamada{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

.backFormChamada{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.formChamada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.checkbox-group {
    align-items: center;
    gap: 15px; /* Espaço entre os checkboxes */
}
.checkbox-group label {
    margin-right: 10px;
}
table.tabelaChamada {
    width: 100%;
    border-collapse: collapse;
}
table.tabelaChamada th, table.tabelaChamada td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

} 

.frequenciaInfoBanco{
    padding: 20px 10px;
    background-color: rgba(230, 230, 230);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 150px;
}

#presencasContainer,
#faltasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fotoPerfil {
    width: 100px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    object-fit: cover; /* Ajustar a imagem para preencher o espaço */
    border-radius: 50%; /* Deixar a imagem redonda */
    margin-bottom: 10px; /* Espaçamento abaixo da foto */
}

.fotoPerfilContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: black;
}

.fotoPerfil {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.trocarFotoTexto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fotoPerfilContainer:hover .fotoPerfil {
    opacity: 0.5;
}

.fotoPerfilContainer:hover .trocarFotoTexto {
    opacity: 1;
}

.removerFotoBotao {
    margin-top: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.removerFotoBotao:hover {
    background-color: #c0392b;
}

.mainGerarEscala{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 89vh;

}

.formEscalasCadastratas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    overflow: auto;
}

.formEscalasCadastratas::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.formEscalasCadastratas::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.formEscalasCadastratas::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.formEscalasCadastratas::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

.tbodyEscala{
    
}

.formGerarEscala{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.backFormEscala{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.formEditarEscala{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.backFormEditarEscala{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.formCriarNovoQuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    z-index: 2;
    max-width: 500px;
}
.formCriarNovoQuadro textarea{
    max-width: 200px;
}

.backFormCriarNovoQuadro{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.formEditarQTQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    z-index: 2;
    max-width: 500px;
}
.formEditarQTQ textarea{
    max-width: 200px;
}

.backFormEditarQTQ{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}


.tabelaQuadrosCriados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    overflow: auto;

}

.tabelaQuadrosCriados::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.tabelaQuadrosCriados::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.tabelaQuadrosCriados::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.tabelaQuadrosCriados::-webkit-scrollbar-track {
    background-color: whitesmoke; /* Cor de fundo da área de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid rgb(50, 50, 50);
}

.tabelaQuadrosCriados table tbody td{
    max-width: 150px;
}

.finalSemanaFeriado {
    border: 2px solid red;
}



@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


.hide{
    display: none;
}

@media (min-width: 426px){
}

@media (min-width: 769px){
    .backNavMunu{
        display: none;
    }
    
    .navMunu{
        display: flex;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
        border-radius: 0;
        background-color: rgb(220, 220, 220);
    }
    
    #buttonCloseNav{
        display: none;
    }
    
    .posts{
       max-width: 60vw;
       margin-left: 200px;
    }

    .containerNoticia{
       max-width: 600px;
       margin-left: 200px;
    }
    
    .listaTurmas{
        max-width: 350px;
    }

    .FormularioNovaTurma{
        margin-left: 35px;
    }

    .formChamada{
        margin-left: 100px;
    }

    .containerPerfil{
        padding: 5px  5px 5px 100px;
    }
    
}

@media (min-width: 1025px){
    .backNavMunu{
        display: none;
    }
    
    .navMunu{
        display: flex;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
        border-radius: 0;
        background-color: rgb(220, 220, 220);
    }
    
    #buttonCloseNav{
        display: none;
    }
    
    .posts{
       max-width: 60vw;
       margin-left: 50px;
    }
    .containerNoticia{
       max-width: 600px;
       margin-left: 50px;
    }

    .listaTurmas{
        max-width: none;
    }

    .formChamada{
        margin-left: 0;
    }
    

    .containerPerfil{
        padding: 5px;
    }
}